* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bold-font: 700;
  --medium-font: 500;
  --fs-big: 1.75rem;
  --fs-small: 0.75rem;
  --fs-primary: 0.875rem;
  --clr-white: hsl(0, 0%, 100%);
  --clr-body-bg: hsl(30, 38%, 92%);
  --clr-primary: hsl(158, 36%, 37%);
  --clr-neutral: hsl(212, 21%, 14%);
  --clr-secondary: hsl(228, 12%, 48%);
  --clr-primary-dark: hsl(158, 42%, 18%);
  --secondary-font: 'Fraunces', serif;
  --primary-font: 'Montserrat', sans-serif;
}
body {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--clr-secondary);
  font-family: var(--primary-font);
  background-color: var(--clr-body-bg);
}
article {
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0.5rem;
  width: min(610px, 94%);
  flex-direction: column;
  background-color: var(--clr-white);
}
article img {
  width: 100%;
  height: auto;
  display: flex;
}
article img.dsk_dev_img {
  display: none;
}
.product-info {
  gap: 1rem;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
}
.product-info h1 {
  line-height: 1;
  font-size: var(--fs-big);
  color: var(--clr-neutral);
  font-weight: var(--bold-font);
  font-family: var(--secondary-font);
}
.product-info h2 {
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: var(--fs-small);
}
.product-info p {
  line-height: 1.5;
  font-size: var(--fs-primary);
  font-weight: var(--medium-font);
}
.product-info p.price {
  gap: 1rem;
  display: flex;
  align-items: center;
}
.product-info p.price .current-price {
  font-size: var(--fs-big);
  color: var(--clr-primary);
  font-weight: var(--bold-font);
  font-family: var(--secondary-font);
}
.product-info p.price .original-price {
  font-size: var(--fs-small);
  color: var(--clr-secondary);
  text-decoration: line-through;
}
.add-to-cart {
  gap: 0.5rem;
  width: 100%;
  border: none;
  display: flex;
  padding: 1rem;
  cursor: pointer;
  font-weight: 600;
  align-items: center;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  justify-content: center;
  color: var(--clr-white);
  font-family: var(--primary-font);
  background-color: var(--clr-primary);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover, .add-to-cart:focus, .add-to-cart:active {
  background-color: var(--clr-primary-dark);
}
.attribution { font-size: 11px; text-align: center; position: absolute; bottom: 1rem; }
.attribution a { color: var(--clr-primary); }

@media (min-width: 768px) {
  :root {
    --fs-big: 2.25rem;
    --fs-primary: 1rem;
    --fs-small: 0.875rem;
  }
  article {
    flex-direction: row;
  }
  article > section {
    flex-basis: 50%;
  }
  article img.dsk_dev_img {
    display: block;
  }
  article img.mob_dev_img {
    display: none;
  }
  .product-info {
    gap: 1.5rem;
  }
  .product-info p.price {
    line-height: 1;
  }
}